.container {
    max-width: 100%; 
    margin: 50px auto; 
}
  
.grid-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
  
.registration-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;  
}
  
.registration-form {
    padding: 20px;
    background-color: black; /* Light gray background color */
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}
  
.registration-form h1 {
    margin-top: 0;
    font-size: 24px;  
    margin-bottom: 20px;  
    text-align: center; /* Center align the heading */
    padding: 10px 0; /* Add padding to the top and bottom */
}

  
.registration-form form {
    display: flex;
    flex-direction: column;
}
  
.registration-form label {
    margin-bottom: 8px; 
    font-weight: bold;  
}
  
.registration-form input {
    padding: 12px;  
    margin-bottom: 20px;  
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    transition: border-color 0.3s ease;  
}
  
.registration-form input:focus {
    border-color: #060606;  
}
  
.btn-submit {
    background-color: #007bff;
    color: #fff;
    padding: 12px 20px;  
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;  
    text-align: center; /* Centering text */
}

.btn-submit:hover {
    background-color: #0056b3;  
}
  
/* Updated button style for black background */
.btn-submit.dark-bg {
    background-color:#000;
    color: #fff;
    border: 2px solid black;
    text-align: center; /* Centering text */
}

.btn-submit.dark-bg:hover {
    background-color: #000;
    color: #fff;
}
